@using FirstBlazorApp.Data;
@page "/shoppinglist"
@rendermode InteractiveServer

<h3>ShoppingList</h3>
<PageTitle>@title</PageTitle>

<input name="groceryName" placeholder="Grocery Name" @bind="groceryName" />
<input name="groceryPrice" placeholder="Grocery Price" @bind="groceryPrice" />
<button class="btn btn-primary" @onclick="AddGrocery">Add Grocery Item</button>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grocery in groceries)
        {
            <Item GroceryItem="@grocery" OnGroceryPriceIncreased="OnGroceryPriceIncreased" />
        }
    </tbody>
</table>

<h1> Grocery Total (@sum)</h1>


@code {
    private string title = "Shopping List";
    private string? groceryName;
    private decimal groceryPrice;
    private decimal sum = 0;

    private List<Grocery> groceries = new();


    private void AddGrocery()
    {
       if (!string.IsNullOrWhiteSpace(groceryName) && groceryPrice > 0)
        {
            groceries.Add(new Grocery 
                { Name = groceryName,
                  Price = groceryPrice 
                });
            groceryName = string.Empty;
            groceryPrice = 0;

        }
        
        else
        {
            Console.WriteLine("Invalid input: Name or Price is incorrect.");
        }

        UpdateTotal();
    }

    public void UpdateTotal()
    {
        sum = groceries.Sum(g => g.Price);
    }

    private void OnGroceryPriceIncreased(MouseEventArgs e)
    {
        UpdateTotal();
    }
}